<h1>All Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= 'Profiles' %>

  <tbody>
  <% @users.each do |user| %>
     <td><%= unless user.profile.blank?
            %>
          </td>
          <td>
            <%= user.profile.name%>
          </td>
          <td>
            <%= user.profile.country %>
          </td>
          <td>
            <%= profile.bio %>
          </td>
      <tr>
        <td><%= link_to profile.name, profile_path(profile) %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user, user.profile) %></td>
      </tr>
    <% end %>
  <% end -%>
  </tbody>
</table>

<br>

<%= link_to 'Stories', stories_path %>


<% @users.each do |user| -%>
  <% unless user.profile.blank? -%>
    <%= h user.profile.name %>
    <%= h user.profile.category %>
    <%= link_to 'Go to profile', user_profile_path(user, user.profile) %>
  <% end -%>
<% end -%>






