<h1>New Story</h1>
<p>Start your newsworthy story today! And see how it grows as others contribute!</p>

<%= form_for :story, url: stories_path do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  <p>

  <p>
    <%= f.label :Text %><br>
    <%= f.text_area :write %>
  <p>

  <p>
    <%= f.submit %>
  <p>
  <br><br><br>

  <% end %>



