<!DOCTYPE html>
<html>
  <head>
  <title>Storypieced</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row text-center devise-header">
      <div class="col-md-6 col-md-offset-3">
        <h1>{ Storypieced }</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Change password', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Home", new_user_session_path  %>
        <% end %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>